**/web_visualizer/node_modules
/web_visualizer/node_modules/**
**/.vscode
/.vscode/**
**/venv
/venv/**
**/web_visualizer/.webassets-cache
/web_visualizer/.webassets-cache/**
**/static/bundle.js
/static/bundle.js/**
**/web_visualizer/__pychache__
/web_visualizer/__pychache__/**
**/web_visualizer.egg-info
/web_visualizer.egg-info/**
**/web_visualizer/static/.webassets-cache
/web_visualizer/static/.webassets-cache
**/web_visualizer/data
/web_visualizer/data/**