.vscode/
venv/
__pychache__/
/web_visualizer/data/
node_modules/
bundle.js
static/bundle.js
web_visualizer/Web Visualizer.code-workspace
.webassets-cache

# !ip_addresses.sqlite3 --- Include this as part of the server
