aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coverage==5.5
Flask==2.0.1
Flask-Assets==2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
ipinfo==4.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsmin==2.2.2
MarkupSafe==2.0.1
multidict==5.1.0
numpy==1.21.1
packaging==20.9
pluggy==0.13.1
pprintpp==0.4.0
py==1.10.0
pycodestyle==2.7.0
pycountry==20.7.3
pycountry-convert==0.7.2
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
repoze.lru==0.7
requests==2.25.1
snakeviz==2.1.0
SQLAlchemy==1.4.20
toml==0.10.2
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.5
-e git+https://github.com/Ethanweiner20/web-visualizer.git@427c3f8e9ca0f251919b9ad470421cff33810a67#egg=web_visualizer
webassets==2.0
Werkzeug==2.0.1
yarl==1.6.3
