<!-- Errors -->
{% if full_page %}
<div class="error-page">
{% endif %}
    <div class="error-styling">
        <h5>
            <span style="text-decoration: underline;"><span id="error-code">{{ error.code }}</span> Error:</span> 
            <span id="error-name"> {{ error.name }}</span>       
        </h5>

        <p id="error-description">{{ error.description }}</p>
        {% if not full_page %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endif %}
    </div>
    {% if full_page %}
</div>
{% endif %}