<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualize the Web</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Determine the root path of our application -->
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
  </head>
  <body>
    
    {% import 'controller.html' as controller %}
    {% import 'animation_options.html' as animation_options %}

    {{ controller.controller() }}
    {{ animation_options.animation_options() }}

    <!-- Errors -->
    <div class="alert alert-danger alert-dismissible fade" role="alert">
      <!-- Add the template into here -->
    </div>

    <div id="legend">
      <h4 class="text-center text-dark" style="text-decoration: underline;">Legend</h4>
      <img src="../static/images/legend.png" height="185px" alt="legend">
    </div>

    
    <!-- Replace with a loading screen -->
    <div class="d-flex justify-content-center spinner-container align-middle"">
      <div class="spinner-border text-danger d-inline-block  role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div id="map"> 

    </div>


    <a href='https://db-ip.com' id="db-ip">IP Geolocation by DB-IP</a>
    <div id="coordinates">
      Latitude:
      Longitude:
    </div>

    <!-- Load bundled javascript -->
    {% assets "js_all" %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='bundle.js') }}"
    ></script>
    {% endassets %}

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"
    ></script>
  </body>
</html>
